<table>
    <thead>
        <tr>
            <th>文件名</th>
            <th>二维码</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="file in files">
            <td>{{file.name | limitTo: 40}}{{file.name.length > 40 ? '...' : ''}}</td>
            <td><qrcode version="12" error-correction-level="M" size="150" data="{{file.url}}"></qrcode></td>
            <td>
                <button id="copy-btn-$index" ng-click="copyURL(files, $index)">复制 URL</button>
                <a ng-hide="file.type === 1" class="button" href="" ng-click="store(files, $index)">{{file.storeState | storeStateToPrompt}}</a>
                <a class="button" href="" ng-click="remove(files, $index)">移除</a></td>
        </tr>
    </tbody>
</table>
<div id="drop">请将要分享的文件拖放到这里</div>